:root {
    --primary: #3498db ;
    --primary-transparency: rgb(52, 152, 219,0.8);
    --secondary: #f39c12 ;
    --accent: #2ecc71;
    --background: #F5F7FA;
    --text: #2c3e50;

    --heading-font: Montserrat, Sans-serif;
    --body-font: Open Sans, Sans-serif;

    --radius: 10px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
    font-family: var(--body-font);
}

main {
    margin: auto;
    max-width: 300px;
}

.header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    font-family: var(--heading-font);
    background-color: var(--primary);
}