:root {
    --primary: #3498db ;
    --primary-transparency: rgb(52, 152, 219,0.8);
    --secondary: #f39c12 ;
    --accent: #2ecc71;
    --background: #F5F7FA;
    --text: #2c3e50;

    --heading-font: 'Montserrat', sans-serif;
    --body-font: 'Open Sans', sans-serif;

    --radius: 10px
}


#favorites {
    display: none;
}

#recipe{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

#recipe-title{
    margin: .5rem;
}

#recipe-image{
    width: 90%;
    max-height: 150px;
}

#time-difficulty {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: .5rem;
}

#time-difficulty div{
    display: flex;
    justify-content: space-around;
}

#ingredients {
    width: 100%;
    padding: .5rem;
}

#ingredients ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

#ingredients li{
    list-style: none;
    display: flex;
}
#ingredients img{
    margin-right: .5rem;
}